html, body,#root {
  height: 100%;
  width:100%;
  padding:0;
  margin:0;
  overflow: hidden;
  font-size:2vmin;
  user-select: none;
}
ul,ul li{
  list-style: none;
  padding:0;
  margin:0;
}
i{
  font-style:normal;
}


